Repository owasp-noir/noir, pull requests merged in 2023-08, with the labels that each got.

#13 Improve django analyzer
  spec/analyzer/analyzer_django_spec.cr
  src/analyzer/analyzers/analyzer_django.cr
Labels: analyzer

#18 Fix issues in analyzer
  spec/analyzer/analyzer_spring_spec.cr
  src/analyzer/analyzers/analyzer_django.cr
  src/analyzer/analyzers/analyzer_example.cr
  src/analyzer/analyzers/analyzer_express.cr
  src/analyzer/analyzers/analyzer_flask.cr
  src/analyzer/analyzers/analyzer_go_echo.cr
  src/analyzer/analyzers/analyzer_kemal.cr
  src/analyzer/analyzers/analyzer_php_pure.cr
  src/analyzer/analyzers/analyzer_rails.cr
  src/analyzer/analyzers/analyzer_sinatra.cr
  src/analyzer/analyzers/analyzer_spring.cr
  src/detector/detector.cr
Labels: bug, detector, analyzer

#38 Refactor/testing structure
  CONTRIBUTING.md
  spec/functional_test/fixtures/kemal/shard.yml
  spec/functional_test/fixtures/kemal/src/testapp.cr
  spec/functional_test/func_spec.cr
  spec/functional_test/testers/crystal_kemal_spec.cr
  spec/unit_test/analyzer/analyzer_django_spec.cr
  spec/unit_test/analyzer/analyzer_go_echo_spec.cr
  spec/unit_test/analyzer/analyzer_kemal_spec.cr
  spec/unit_test/analyzer/analyzer_sinatra_spec.cr
  spec/unit_test/analyzer/analyzer_spring_spec.cr
  spec/unit_test/detector/detect_crystal_kemal_spec.cr
  spec/unit_test/detector/detect_go_echo_spec.cr
  spec/unit_test/detector/detect_java_jsp_spec.cr
  spec/unit_test/detector/detect_java_spring_spec.cr
  spec/unit_test/detector/detect_js_express_spec.cr
  spec/unit_test/detector/detect_oas2_spec.cr
  spec/unit_test/detector/detect_oas3_spec.cr
  spec/unit_test/detector/detect_php_pure_spec.cr
  spec/unit_test/detector/detect_python_django_spec.cr
  spec/unit_test/detector/detect_python_flask_spec.cr
  spec/unit_test/detector/detect_ruby_rails_spec.cr
  spec/unit_test/detector/detect_ruby_sinatra_spec.cr
  spec/unit_test/models/analyzer_spec.cr
  spec/unit_test/models/endpoint_spec.cr
  spec/unit_test/techs/techs_spec.cr
  src/analyzer/analyzers/analyzer_kemal.cr
Labels: spec

#46 Add OAS2/OAS3 Functional Test Codes
  spec/functional_test/fixtures/oas2/doc.yml
  spec/functional_test/fixtures/oas3/doc.yml
  spec/functional_test/testers/oas2_spec.cr
  spec/functional_test/testers/oas3_spec.cr
Labels: spec

#47 Add Go Echo Functional Test Codes
  spec/functional_test/fixtures/go_echo/go.mod
  spec/functional_test/fixtures/go_echo/server.go
  spec/functional_test/testers/go_echo_spec.cr
Labels: spec

#49 Fixed bug in rails analyzer and Update test code
  spec/functional_test/fixtures/rails/public/secret.html
  spec/functional_test/testers/ruby_rails_spec.cr
  src/analyzer/analyzers/analyzer_rails.cr
Labels: bug, analyzer, spec

#52 Support header param in Rails Analyzer
  README.md
  spec/functional_test/fixtures/rails/app/controllers/posts_controller.rb
  spec/functional_test/testers/ruby_rails_spec.cr
  src/analyzer/analyzers/analyzer_rails.cr
Labels: analyzer, spec

#54 Hahwul dev
  spec/functional_test/fixtures/go_echo/public/secret.html
  spec/functional_test/fixtures/go_echo/server.go
  spec/functional_test/testers/go_echo_spec.cr
  src/analyzer/analyzers/analyzer_go_echo.cr
Labels: bug, analyzer, spec

#55 Hahwul dev
  README.md
  spec/functional_test/fixtures/go_echo/server.go
  spec/functional_test/testers/go_echo_spec.cr
  src/analyzer/analyzers/analyzer_go_echo.cr
Labels: analyzer, spec
