Repository owasp-noir/noir, pull requests merged in 2023-12, with the labels that each got.

#182 Improve spring analyzer
  spec/unit_test/analyzer/analyzer_spring_spec.cr
  src/analyzer/analyzers/analyzer_spring.cr
Labels: 🔬 analyzer, 💊 spec

#195 Features/add file analyzer
  spec/functional_test/fixtures/file_based/urls.txt
  spec/functional_test/func_spec.cr
  spec/functional_test/testers/file_based_spec.cr
  spec/unit_test/models/analyzer_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/file_analyzers/string.cr
  src/models/analyzer.cr
Labels: 🔬 analyzer

#202 Improve JS Express Analyzer
  README.md
  spec/functional_test/fixtures/js_express/app.js
  spec/functional_test/testers/js_express_spec.cr
  src/analyzer/analyzers/analyzer_express.cr
Labels: 🔬 analyzer

#205 Add go-fiber detector&analyzer
  README.md
  spec/functional_test/fixtures/go_fiber/go.mod
  spec/functional_test/fixtures/go_fiber/public/secret.html
  spec/functional_test/fixtures/go_fiber/server.go
  spec/functional_test/testers/go_fiber_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/analyzer_go_fiber.cr
  src/detector/detector.cr
  src/detector/detectors/go_fiber.cr
  src/techs/techs.cr
Labels: 🔎 detector, 🔬 analyzer
