Repository owasp-noir/noir, pull requests merged in 2023-09, with the labels that each got.

#63 (#62) Support RAML
  spec/functional_test/fixtures/raml/docs.yaml
  spec/functional_test/testers/raml_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/analyzer_raml.cr
  src/detector/detector.cr
  src/detector/detectors/raml.cr
  src/techs/techs.cr
Labels: enhancement, detector, analyzer, spec

#77 Improve Analyzer
  README.md
  spec/functional_test/fixtures/django/README.md
  spec/functional_test/fixtures/django/accounts/urls.py
  spec/functional_test/fixtures/django/blog/__init__.py
  spec/functional_test/fixtures/django/blog/urls.py
  spec/functional_test/fixtures/django/blog/views.py
  spec/functional_test/fixtures/django/djangoblog/__init__.py
  spec/functional_test/fixtures/django/djangoblog/settings.py
  spec/functional_test/fixtures/django/djangoblog/urls.py
  spec/functional_test/fixtures/django/djangoproject/settings/common.py
  spec/functional_test/fixtures/django/djangoproject/urls/www.py
  spec/functional_test/fixtures/django/manage.py
  spec/functional_test/fixtures/java_armeria/pom.xml
  spec/functional_test/fixtures/java_armeria/src/ApplicationStartUp.java
  spec/functional_test/fixtures/java_spring/build.gradle
  spec/functional_test/fixtures/java_spring/src/ItemController.java
  spec/functional_test/fixtures/java_spring/src/MyRoutingConfiguration.java
  spec/functional_test/fixtures/java_spring/src/QuoteRouter.java
  spec/functional_test/fixtures/kotlin_spring/build.gradle.kts
  spec/functional_test/fixtures/kotlin_spring/src/UserController.kt
  spec/functional_test/testers/java_armeria_spec.cr
  spec/functional_test/testers/java_spring_spec.cr
  spec/functional_test/testers/kotlin_spring_spec.cr
  spec/functional_test/testers/python_django_spec.cr
  spec/unit_test/analyzer/analyzer_django_spec.cr
  spec/unit_test/analyzer/analyzer_spring_spec.cr
  spec/unit_test/detector/detect_java_armeria_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/analyzer_armeria.cr
  src/analyzer/analyzers/analyzer_django.cr
  src/analyzer/analyzers/analyzer_spring.cr
  src/detector/detector.cr
  src/detector/detectors/java_armeria.cr
  src/detector/detectors/java_spring.cr
  src/detector/detectors/kotlin_spring.cr
  src/techs/techs.cr
Labels: enhancement, detector, analyzer

#86 Release 0.7.0
  shard.yml
  src/noir.cr
Labels: release

#93 Release 0.7.1
  .ameba.yml
  shard.yml
  spec/functional_test/fixtures/oas3/common/doc.yml
  spec/functional_test/fixtures/oas3/no_servers/doc_no_servers.yml
  spec/functional_test/testers/oas3_spec.cr
  src/analyzer/analyzers/analyzer_oas3.cr
  src/noir.cr
Labels: bug, analyzer, spec, release

#101 (#81) Add ZAP Deliver Model
  spec/unit_test/models/delivers/zap_spec.cr
  src/models/delivers/zap.cr
Labels: deliver

#104 Release v0.7.3
  shard.yml
  spec/unit_test/models/delivers/zap_spec.cr
  src/analyzer/analyzers/analyzer_oas2.cr
  src/models/delivers/zap.cr
  src/noir.cr
Labels: release

#107 (#106) Add output_builder
  spec/unit_test/models/output_builder_spec.cr
  src/models/noir.cr
  src/models/output_builder.cr
  src/output_builder/common.cr
  src/output_builder/curl.cr
  src/output_builder/httpie.cr.cr
  src/output_builder/markdown_table.cr
Labels: output-builder

#108 (#94) Add oas2, oas3 output_builder
  README.md
  spec/unit_test/models/output_builder_spec.cr
  src/models/noir.cr
  src/noir.cr
  src/output_builder/oas2.cr
  src/output_builder/oas3.cr
Labels: output-builder

#109 Add ob_puts in output_builder
  src/models/output_builder.cr
  src/output_builder/common.cr
  src/output_builder/curl.cr
  src/output_builder/httpie.cr.cr
  src/output_builder/markdown_table.cr
  src/output_builder/oas2.cr
  src/output_builder/oas3.cr
Labels: output-builder

#110 (#105) Add --with-headers flag
  README.md
  spec/unit_test/models/deliver_spec.cr
  src/deliver/send_proxy.cr
  src/deliver/send_req.cr
  src/models/deliver.cr
  src/models/noir.cr
  src/noir.cr
  src/options.cr
Labels: deliver

#113 Release 0.8.0
  README.md
  shard.yml
  spec/functional_test/fixtures/oas3/multiple_docs/first.yml
  spec/functional_test/fixtures/oas3/multiple_docs/second.yml
  spec/functional_test/func_spec.cr
  spec/functional_test/testers/oas3_spec.cr
  spec/unit_test/detector/detect_oas2_spec.cr
  spec/unit_test/detector/detect_oas3_spec.cr
  spec/unit_test/models/code_locator_spec.cr
  spec/unit_test/models/deliver_spec.cr
  spec/unit_test/models/output_builder_spec.cr
  src/analyzer/analyzers/analyzer_oas2.cr
  src/analyzer/analyzers/analyzer_oas3.cr
  src/analyzer/analyzers/analyzer_raml.cr
  src/deliver/send_proxy.cr
  src/deliver/send_req.cr
  src/detector/detectors/oas2.cr
  src/detector/detectors/oas3.cr
  src/detector/detectors/raml.cr
  src/models/code_locator.cr
  src/models/deliver.cr
  src/models/noir.cr
  src/models/output_builder.cr
  src/noir.cr
  src/options.cr
  src/output_builder/common.cr
  src/output_builder/curl.cr
  src/output_builder/httpie.cr.cr
  src/output_builder/markdown_table.cr
  src/output_builder/oas2.cr
  src/output_builder/oas3.cr
Labels: release

#117 Support FastAPI Endpoints
  README.md
  spec/functional_test/fixtures/python_django/README.md
  spec/functional_test/fixtures/python_django/blog/__init__.py
  spec/functional_test/fixtures/python_django/blog/urls.py
  spec/functional_test/fixtures/python_django/blog/views.py
  spec/functional_test/fixtures/python_django/djangoblog/__init__.py
  spec/functional_test/fixtures/python_django/djangoblog/settings.py
  spec/functional_test/fixtures/python_django/djangoblog/urls.py
  spec/functional_test/fixtures/python_django/manage.py
  spec/functional_test/fixtures/python_fastapi/__init__.py
  spec/functional_test/fixtures/python_fastapi/api.py
  spec/functional_test/fixtures/python_fastapi/main.py
  spec/functional_test/fixtures/python_fastapi/requirements.txt
  spec/functional_test/fixtures/python_flask/__init__.py
  spec/functional_test/fixtures/python_flask/app.py
  spec/functional_test/fixtures/python_flask/requirements.txt
  spec/functional_test/fixtures/python_flask/static/css/example.css
  spec/functional_test/fixtures/python_flask/static/js/example.js
  spec/functional_test/fixtures/python_flask/templates/__init__.py
  spec/functional_test/fixtures/python_flask/templates/error.html
  spec/functional_test/fixtures/python_flask/templates/index.html
  spec/functional_test/fixtures/python_flask/templates/login.html
  spec/functional_test/fixtures/python_flask/templates/sign.html
  spec/functional_test/fixtures/python_flask/utils.py
  spec/functional_test/testers/python_django_spec.cr
  spec/functional_test/testers/python_fastapi_spec.cr
  spec/functional_test/testers/python_flask_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/analyzer_django.cr
  src/analyzer/analyzers/analyzer_fastapi.cr
  src/analyzer/analyzers/analyzer_flask.cr
  src/analyzer/analyzers/analyzer_python.cr
  src/detector/detector.cr
  src/detector/detectors/python_fastapi.cr
  src/techs/techs.cr
Labels: detector, analyzer, spec

#120 Add es deliver(--send-es) (#119)
  README.md
  src/deliver/send_elasticsearch.cr
  src/models/noir.cr
  src/noir.cr
  src/options.cr
Labels: deliver

#122 Add YAML Format of Output(`-f yaml` / #121)
  README.md
  src/models/endpoint.cr
  src/models/noir.cr
Labels: output-builder
