Repository owasp-noir/noir, pull requests merged in 2024-09, with the labels that each got.

#390 Update-docs
  docs/_advanced/tips/pipeline.md
  docs/_get_started/installation.md
  docs/_get_started/installation/snapcraft.md
  docs/_get_started/output/curl.md
  docs/_get_started/output/json.md
  docs/_get_started/output/more.md
  docs/images/illust.jpg
  docs/index.md
Labels: 📑 documentation

#392 chore: Update Crystal version to 1.13.2 in CI workflow and Add path rule
  .github/workflows/ci.yml
Labels: 🦺 github-action, 🛥️ workflow

#393 Implement a MiniLexer and Parser in Python to better analyze Python frameworks
  spec/functional_test/fixtures/python_fastapi/api.py
  spec/functional_test/fixtures/python_fastapi/main.py
  spec/functional_test/fixtures/python_flask/app.py
  spec/functional_test/testers/python_flask_spec.cr
  src/analyzer/analyzers/analyzer_python.cr
  src/analyzer/analyzers/analyzer_python_fastapi.cr
  src/analyzer/analyzers/analyzer_python_flask.cr
  src/minilexers/python.cr
  src/miniparsers/python.cr
  src/models/endpoint.cr
  src/models/minilexer/minilexer.cr
Labels: 📑 documentation, 🔬 analyzer, 📦 output-builder, 💊 spec, 💌 deliver, 🦺 github-action, ⚙️ options, 🛥️ workflow, 🥢 mini-lexer

#391 Add-rake
  .gitattributes
  CONTRIBUTING.md
  Rakefile
  docs/_get_started/basic.md
  docs/_includes/usage.md
Labels: 📑 documentation

#399 Refactor code to use YAML::Any for all options
  docs/_advanced/configuration.md
  spec/functional_test/func_spec.cr
  spec/functional_test/testers/file_based_spec.cr
  spec/unit_test/models/analyzer_spec.cr
  spec/unit_test/models/deliver_spec.cr
  spec/unit_test/models/detector_spec.cr
  spec/unit_test/models/noir_spec.cr
  spec/unit_test/models/output_builder_spec.cr
  spec/unit_test/utils/utils_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/analyzer_armeria.cr
  src/analyzer/analyzers/analyzer_crystal_kemal.cr
  src/analyzer/analyzers/analyzer_crystal_lucky.cr
  src/analyzer/analyzers/analyzer_cs_aspnet_mvc.cr
  src/analyzer/analyzers/analyzer_elixir_phoenix.cr
  src/analyzer/analyzers/analyzer_example.cr
  src/analyzer/analyzers/analyzer_express.cr
  src/analyzer/analyzers/analyzer_go_beego.cr
  src/analyzer/analyzers/analyzer_go_echo.cr
  src/analyzer/analyzers/analyzer_go_fiber.cr
  src/analyzer/analyzers/analyzer_go_gin.cr
  src/analyzer/analyzers/analyzer_har.cr
  src/analyzer/analyzers/analyzer_java_spring.cr
  src/analyzer/analyzers/analyzer_jsp.cr
  src/analyzer/analyzers/analyzer_kotlin_spring.cr
  src/analyzer/analyzers/analyzer_oas2.cr
  src/analyzer/analyzers/analyzer_oas3.cr
  src/analyzer/analyzers/analyzer_php_pure.cr
  src/analyzer/analyzers/analyzer_python_django.cr
  src/analyzer/analyzers/analyzer_python_fastapi.cr
  src/analyzer/analyzers/analyzer_python_flask.cr
  src/analyzer/analyzers/analyzer_raml.cr
  src/analyzer/analyzers/analyzer_restify.cr
  src/analyzer/analyzers/analyzer_ruby_hanami.cr
  src/analyzer/analyzers/analyzer_ruby_rails.cr
  src/analyzer/analyzers/analyzer_ruby_sinatra.cr
  src/analyzer/analyzers/analyzer_rust_axum.cr
  src/analyzer/analyzers/analyzer_rust_rocket.cr
  src/config_initializer.cr
  src/detector/detector.cr
  src/models/analyzer.cr
  src/models/deliver.cr
  src/models/detector.cr
  src/models/noir.cr
  src/models/output_builder.cr
  src/models/tagger.cr
  src/noir.cr
  src/options.cr
  src/output_builder/common.cr
  src/tagger/tagger.cr
  src/tagger/taggers/cors.cr
  src/tagger/taggers/hunt_param.cr
  src/tagger/taggers/oauth.cr
  src/tagger/taggers/soap.cr
  src/tagger/taggers/websocket.cr
  src/utils/utils.cr
Labels: 📑 documentation, 🔎 detector, 🔬 analyzer, 📦 output-builder, 💊 spec, 💌 deliver, ⚙️ options, 🏷️ tagger, ⛱️ config

#400 Add set-value-*
  docs/_advanced/configuration.md
  spec/unit_test/models/noir_spec.cr
  spec/unit_test/utils/utils_spec.cr
  src/config_initializer.cr
  src/models/analyzer.cr
  src/models/code_locator.cr
  src/models/deliver.cr
  src/models/detector.cr
  src/models/noir.cr
  src/models/output_builder.cr
  src/models/tagger.cr
  src/options.cr
  src/output_builder/common.cr
  src/utils/utils.cr
Labels: 📑 documentation, 🔎 detector, 🔬 analyzer, 📦 output-builder, 💊 spec, 💌 deliver, ⚙️ options, ⛱️ config

#405 chore: Apply Linting
  spec/functional_test/func_spec.cr
  spec/functional_test/testers/har_spec.cr
  spec/unit_test/tagger/tagger_spec.cr
  spec/unit_test/techs/techs_spec.cr
  src/analyzer/analyzers/crystal/kemal.cr
  src/analyzer/analyzers/crystal/lucky.cr
  src/analyzer/analyzers/elixir/elixir_phoenix.cr
  src/analyzer/analyzers/example.cr
  src/analyzer/analyzers/go/fiber.cr
  src/analyzer/analyzers/javascript/express.cr
  src/analyzer/analyzers/javascript/restify.cr
  src/analyzer/analyzers/python/django.cr
  src/analyzer/analyzers/ruby/sinatra.cr
  src/analyzer/analyzers/specification/har.cr
  src/models/endpoint.cr
  src/models/noir.cr
  src/options.cr
  src/tagger/tagger.cr
  src/techs/techs.cr
Labels: 🔬 analyzer, 💊 spec, ⚙️ options, 🏷️ tagger

#406 Add --status-codes, --exclude-codes flag
  docs/_advanced/configuration.md
  docs/_includes/usage.md
  src/completions.cr
  src/config_initializer.cr
  src/models/endpoint.cr
  src/models/noir.cr
  src/noir.cr
  src/options.cr
  src/output_builder/common.cr
Labels: 📑 documentation, 📦 output-builder, ⚙️ options, ⛱️ config

#409 Refactor Docker installation documentation and add link to Docker tag page
  docs/_get_started/installation/docker.md
  docs/introdution.md
Labels: 📑 documentation

#410 Refactor config_initializer.cr to include status code options
  src/config_initializer.cr
Labels: ⛱️ config

#411 Refactor GitHub Actions workflow to publish to GHCR
  .github/workflows/ghcr_publish.yml
Labels: 🦺 github-action, 🛥️ workflow

#412 Refactor GitHub Actions workflow to include additional paths for CI, Jekyll
  .github/workflows/ci.yml
  .github/workflows/jekyll.yml
Labels: 🦺 github-action, 🛥️ workflow

#414 Refactor documentation: Update URLs and remove redundant information
  README.md
  docs/_get_started/basic.md
  docs/_get_started/output.md
  docs/images/get_started/basic.png
  docs/images/illust.jpg
  docs/images/noir-usage.jpg
  docs/index.md
Labels: 📑 documentation

#416 Refactor completions.cr and options.cr: Update completion scripts and instructions
  src/completions.cr
  src/options.cr
Labels: ⚙️ options, ⛱️ config

#418 Refactor completion scripts and instructions for shell auto-completion
  docs/_advanced/tips/shell-completion.md
  docs/_includes/usage.md
  src/completions.cr
  src/options.cr
Labels: 📑 documentation, ⚙️ options, ⛱️ config

#420 ✨ Add Passive Scan Feature
  .github/labeler.yml
  README.md
  docs/index.md
  spec/unit_test/passive_scan/passive_scan_spec.cr
  src/config_initializer.cr
  src/detector/detector.cr
  src/models/logger.cr
  src/models/noir.cr
  src/models/passive_scan.cr
  src/options.cr
  src/output_builder/passive_scan.cr
  src/passive_scan/detect.cr
  src/passive_scan/rules.cr
  src/utils/home.cr
Labels: 📑 documentation, 🔎 detector, 📦 output-builder, 💊 spec, 🦺 github-action, ⚙️ options, 🛥️ workflow, ⛱️ config, 🚔 passive-scan
