Repository owasp-noir/noir, pull requests merged in 2024-04, with the labels that each got.

#276 Update Crystal versions in CI workflow and Fixed bug in crest
  .github/workflows/ci.yml
  shard.lock
  shard.yml
Labels: 🦺 github-action, 🛥️ workflow

#273 Support JS Restify
  spec/functional_test/fixtures/js_restify/app.js
  spec/functional_test/func_spec.cr
  spec/functional_test/testers/js_restify_spec.cr
  spec/unit_test/detector/detect_js_restify_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/analyzer_restify.cr
  src/detector/detector.cr
  src/detector/detectors/js_restify.cr
  src/techs/techs.cr
Labels: 🔎 detector, 🔬 analyzer, 💊 spec

#278 Improve codes
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  src/models/analyzer.cr
  src/models/code_block.cr
Labels: 🔬 analyzer

#279 Update to Docker Builder Image (crystallang -> 84codes)
  .github/workflows/ghcr_publish.yml
  Dockerfile
Labels: 🦺 github-action, 🛥️ workflow

#280 Update GitHub workflow files
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/contributors.yml
  .github/workflows/ghcr_publish.yml
  .github/workflows/homebrew_publish.yml
  .github/workflows/labeler.yml
  .github/workflows/snapcraft_publish.yml
Labels: 🦺 github-action, 🛥️ workflow

#281 Add go-beego
  spec/functional_test/fixtures/go_beego/go.mod
  spec/functional_test/fixtures/go_beego/server.go
  spec/functional_test/testers/go_beego_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/analyzer_go_beego.cr
  src/detector/detector.cr
  src/detector/detectors/go_beego.cr
  src/techs/techs.cr
Labels: 🔎 detector, 🔬 analyzer, 💊 spec

#282 Add rust rocket
  spec/functional_test/fixtures/rust_rocket/Cargo.toml
  spec/functional_test/fixtures/rust_rocket/src/main.rs
  spec/functional_test/testers/rust_rocket_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/analyzer_rust_rocket.cr
  src/detector/detector.cr
  src/detector/detectors/rust_rocket.cr
  src/techs/techs.cr
Labels: 🔎 detector, 🔬 analyzer, 💊 spec

#286 Add CORS/SOAP/WS Tagger
  .github/labeler.yml
  spec/unit_test/tagger/tagger_spec.cr
  src/tagger/tagger.cr
  src/tagger/taggers/cors.cr
  src/tagger/taggers/soap.cr
  src/tagger/taggers/websocket.cr
Labels: 💊 spec, 🛥️ workflow

#288 Update
  .github/workflows/ghcr_publish.yml
Labels: 🦺 github-action, 🛥️ workflow

#290 Update ghcr_publish.yml
  .github/workflows/ghcr_publish.yml
Labels: 🦺 github-action, 🛥️ workflow
