Repository owasp-noir/noir, pull requests merged in 2024-10, with the labels that each got.

#424 Add passive scan documents
  README.md
  docs/Gemfile.lock
  docs/_advanced/diff.md
  docs/_advanced/passive_scan.md
  docs/_advanced/passive_scan/default_rules.md
  docs/_advanced/passive_scan/rule.md
  docs/_get_started/output/json.md
  docs/_get_started/output/yaml.md
  docs/images/advanced/passive_private_key.png
  spec/functional_test/fixtures/passive_scan/private_key.pem
  src/models/noir.cr
  src/noir.cr
Labels: 📑 documentation, 💊 spec

#426 ✨ Add ActixWeb
  docs/_get_started/supported/language_and_frameworks.md
  spec/functional_test/fixtures/rust_actix_web/Cargo.toml
  spec/functional_test/fixtures/rust_actix_web/src/main.rs
  spec/functional_test/testers/rust_actix_web_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/rust/actix_web.cr
  src/detector/detector.cr
  src/detector/detectors/rust/actix_web.cr
  src/techs/techs.cr
Labels: 📑 documentation, 🔎 detector, 🔬 analyzer, 💊 spec

#429 Add-doc-sitemap
  .github/workflows/deadlinks.yml
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
Labels: 📑 documentation, 🦺 github-action, 🛥️ workflow

#430 Update crystal-version in ci.yml to include 1.14.0
  .github/workflows/ci.yml
Labels: 🦺 github-action, 🛥️ workflow

#431 fix: Resolve scan failures in Python framework
  src/analyzer/analyzers/python/django.cr
  src/analyzer/analyzers/python/fastapi.cr
  src/analyzer/analyzers/python/flask.cr
  src/miniparsers/python.cr
Labels: 🐞 bug, 🔬 analyzer, 🥢 mini-lexer

#434 Release-0-18
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/_advanced/passive_scan.md
  docs/_advanced/passive_scan/community_rules.md
  docs/_includes/usage.md
  shard.yml
  snap/snapcraft.yaml
  src/noir.cr
Labels: 📑 documentation

#439 Dev
  spec/functional_test/fixtures/go/echo/go.mod
  spec/functional_test/fixtures/go/gin/go.mod
Labels: 💊 spec
