Repository owasp-noir/noir, pull requests merged in 2024-11, with the labels that each got.

#443 Release v0.18.1
  .github/ISSUE_TEMPLATE/bug_report.md
  shard.yml
  snap/snapcraft.yaml
  src/config_initializer.cr
  src/noir.cr
  src/options.cr
  src/passive_scan/detect.cr
Labels: ⚙️ options, ⛱️ config, 🚔 passive-scan

#445 Fixed 444 Issue
  spec/functional_test/fixtures/ruby/rails/config/routes.rb
  spec/functional_test/testers/ruby/rails_spec.cr
  src/models/noir.cr
Labels: 💊 spec

#447 Update shell completion (Add to missing flags)
  src/completions.cr
Labels: ⛱️ config

#449 Release v0.18.2
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  docs/_advanced/tips/community-articles.md
  docs/index.md
  shard.yml
  snap/snapcraft.yaml
  spec/functional_test/fixtures/ruby/rails/config/routes.rb
  spec/functional_test/testers/ruby/rails_spec.cr
  src/completions.cr
  src/models/logger.cr
  src/models/noir.cr
  src/noir.cr
Labels: 📑 documentation, 💊 spec, ⛱️ config

#450 Fix URL Path Handling Issues in Django and Spring Analyzers
  src/analyzer/analyzers/java/spring.cr
  src/analyzer/analyzers/python/django.cr
Labels: 🔬 analyzer

#452 Enhance deadlinks workflow
  .github/workflows/deadlinks.yml
Labels: 🦺 github-action, 🛥️ workflow

#455 Fix: Improve Java lexer and endpoint parsing to resolve crashes and newline issues
  spec/functional_test/fixtures/java/spring/src/RequestMethodClass.java
  spec/functional_test/testers/java/spring_spec.cr
  src/minilexers/java.cr
  src/miniparsers/java.cr
  src/models/noir.cr
Labels: 💊 spec, 🥢 mini-lexer

#457 Update community articles and add DAST pipeline documentation
  docs/_advanced/tips/community-articles.md
  docs/_advanced/tips/pipeline-for-dast.md
  docs/_advanced/tips/pipeline.md
Labels: 📑 documentation

#460 Enhance technology listing (--list-techs) output formatting and hierarchy
  src/options.cr
Labels: ⚙️ options

#461 Prevent duplicate URL printing in output
  src/output_builder/only-url.cr
Labels: 📦 output-builder

#463 Release v0.18.3
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/deadlinks.yml
  Rakefile
  docs/_advanced/tips/community-articles.md
  docs/_advanced/tips/pipeline-for-dast.md
  docs/_advanced/tips/pipeline.md
  docs/_advanced/tips/shell-completion.md
  docs/_get_started/basic.md
  docs/images/get_started/basic.png
  shard.yml
  snap/snapcraft.yaml
  spec/functional_test/fixtures/java/spring/src/RequestMethodClass.java
  spec/functional_test/testers/java/spring_spec.cr
  src/analyzer/analyzers/java/spring.cr
  src/analyzer/analyzers/python/django.cr
  src/minilexers/java.cr
  src/miniparsers/java.cr
  src/models/noir.cr
  src/noir.cr
  src/options.cr
  src/output_builder/only-url.cr
Labels: 📑 documentation, 🔬 analyzer, 📦 output-builder, 💊 spec, 🦺 github-action, ⚙️ options, 🛥️ workflow, 🥢 mini-lexer
