Repository owasp-noir/noir, pull requests merged in 2025-04, with the labels that each got.

#581 Enhance AI analysis with bundling support and improved logging
  src/analyzer/analyzers/llm_analyzers/general.cr
  src/analyzer/analyzers/llm_analyzers/ollama.cr
  src/llm/prompt.cr
Labels: 🔬 analyzer, 🤖 llm

#584 Update README
  README.md
Labels: 📑 documentation

#587 Skip symlinks during llm analysis
  src/analyzer/analyzers/llm_analyzers/general.cr
Labels: 🔬 analyzer, 🤖 llm

#588 Add Crystal version 1.16.0 to CI build matrix
  .github/workflows/ci.yml
Labels: 🦺 github-action, 🛥️ workflow
