Repository owasp-noir/noir, pull requests merged in 2025-01, with the labels that each got.

#473 Add AI Integration (LLM)
  .github/labeler.yml
  shard.lock
  shard.yml
  spec/functional_test/fixtures/hahwul/for_llm.hahwul
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/llm_analyzers/ollama.cr
  src/completions.cr
  src/config_initializer.cr
  src/llm/ollama/ollama.cr
  src/llm/prompt.cr
  src/noir.cr
  src/options.cr
Labels: 🔬 analyzer, 💊 spec, 🦺 github-action, ⚙️ options, 🛥️ workflow, ⛱️ config, 🤖 llm

#478 Fixed #475 (-t flag not working)
  src/detector/detector.cr
Labels: 🔎 detector

#479 Improve-ai-integration
  src/analyzer/analyzers/llm_analyzers/ollama.cr
  src/detector/detector.cr
Labels: 🔎 detector, 🔬 analyzer, 🤖 llm

#485 fix(ollama): clean up prompt formatting for endpoint analysis
  src/analyzer/analyzers/llm_analyzers/ollama.cr
Labels: 🔬 analyzer, 🤖 llm

#484 Add-zap-sites-tree-analyzer
  spec/functional_test/fixtures/specification/zap/sites_tree.yaml
  spec/functional_test/testers/specification/zap_sites_tree_spec.cr
  spec/unit_test/detector/specification/zap_sites_tree_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/specification/zap_sites_tree.cr
  src/detector/detector.cr
  src/detector/detectors/specification/zap_sites_tree.cr
Labels: 🔎 detector, 🔬 analyzer, 💊 spec

#487 Improve logger
  src/analyzer/analyzer.cr
  src/detector/detector.cr
  src/models/logger.cr
  src/models/noir.cr
  src/noir.cr
Labels: 🔎 detector, 🔬 analyzer

#489 Improve --build-info flag
  src/options.cr
Labels: ⚙️ options

#491 Optimize Concurrency with WaitGroup
  .github/workflows/ci.yml
  src/analyzer/analyzers/crystal/kemal.cr
  src/analyzer/analyzers/crystal/lucky.cr
  src/analyzer/analyzers/elixir/elixir_phoenix.cr
  src/analyzer/analyzers/go/beego.cr
  src/analyzer/analyzers/go/echo.cr
  src/analyzer/analyzers/go/fiber.cr
  src/analyzer/analyzers/go/gin.cr
  src/analyzer/analyzers/java/armeria.cr
  src/analyzer/analyzers/java/jsp.cr
  src/analyzer/analyzers/javascript/express.cr
  src/analyzer/analyzers/javascript/restify.cr
  src/analyzer/analyzers/php/php.cr
  src/analyzer/analyzers/python/django.cr
  src/analyzer/analyzers/ruby/sinatra.cr
  src/analyzer/analyzers/rust/actix_web.cr
  src/analyzer/analyzers/rust/axum.cr
  src/analyzer/analyzers/rust/rocket.cr
  src/config_initializer.cr
  src/detector/detector.cr
  src/models/analyzer.cr
  src/options.cr
Labels: 🔎 detector, 🔬 analyzer, 🦺 github-action, ⚙️ options, 🛥️ workflow, ⛱️ config

#493 feat(detector): enhance file processing with tuple channel and waitgroup for concurrency
  src/detector/detector.cr
Labels: 🔎 detector

#495 Improve deliver performance
  src/deliver/send_proxy.cr
  src/deliver/send_req.cr
  src/detector/detector.cr
Labels: 🔎 detector, 💌 deliver

#496 fix(docker): remove static build option for improved compatibility
  Dockerfile
Labels: 🐳 docker

#503 Standardize file extension checks across detectors
  src/detector/detectors/javascript/express.cr
  src/detector/detectors/javascript/restify.cr
  src/detector/detectors/php/php.cr
  src/detector/detectors/python/django.cr
  src/detector/detectors/python/flask.cr
  src/detector/detectors/specification/har.cr
Labels: 🔎 detector

#504 `--techs`, `--exclude-techs` 동작 개선
  src/analyzer/analyzer.cr
  src/detector/detector.cr
  src/models/noir.cr
  src/noir.cr
Labels: 🔎 detector, 🔬 analyzer

#501 Add AI Integration Documents
  README.md
  docs/_advanced/ai_integration.md
  docs/_advanced/diff.md
  docs/_includes/usage.md
  docs/images/advanced/ollama.jpeg
Labels: 📑 documentation

#505 chore: Update Ruby version to 3.4 and add csv and base64 gems to Gemfile
  .github/workflows/jekyll.yml
  docs/Gemfile
  docs/Gemfile.lock
Labels: 📑 documentation, 🦺 github-action, 🛥️ workflow

#506 docs: Enhance documentation with new sections and improved structure
  docs/_advanced/configuration.md
  docs/_advanced/deliver.md
  docs/_advanced/diff.md
  docs/_advanced/passive_scan.md
  docs/_advanced/passive_scan/community_rules.md
  docs/_advanced/passive_scan/default_rules.md
  docs/_advanced/passive_scan/rule.md
  docs/_advanced/tagger.md
  docs/_advanced/tips/community-articles.md
  docs/_get_started/basic.md
  docs/_get_started/installation/docker.md
  docs/_get_started/installation/homebrew.md
  docs/_get_started/installation/snapcraft.md
  docs/_get_started/installation/source.md
  docs/_get_started/output/curl.md
  docs/_get_started/output/more.md
  docs/_get_started/output/openapi.md
  docs/_get_started/output/yaml.md
  docs/_get_started/supported/language_and_frameworks.md
  docs/_get_started/supported/specification.md
  docs/_get_started/supported/tech-commands.md
Labels: 📑 documentation

#507 Release v0.19.0
  .github/ISSUE_TEMPLATE/bug_report.md
  Dockerfile
  shard.yml
  snap/snapcraft.yaml
  src/noir.cr
Labels: 🐳 docker

#512 fix: Update Dockerfile to enable static linking during build
  Dockerfile
Labels: 🐳 docker

#515 Add cache scope to Docker actions and fix #508
  .github/workflows/ci.yml
  spec/functional_test/fixtures/java/spring/src/ItemController2.java
  spec/functional_test/testers/java/spring_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/java/spring.cr
Labels: 🔬 analyzer, 💊 spec, 🦺 github-action, 🛥️ workflow

#519 Enhancing Accuracy of LLM Integration
  src/analyzer/analyzers/llm_analyzers/ollama.cr
  src/llm/ollama/ollama.cr
Labels: 🔬 analyzer, 🤖 llm

#520 refactor: Update Dockerfile to use Debian base images
  Dockerfile
Labels: 🐳 docker

#513 chore: Bump version to 0.19.1 in various files
  .github/ISSUE_TEMPLATE/bug_report.md
  Dockerfile
  shard.yml
  snap/snapcraft.yaml
  src/noir.cr
Labels: 🐳 docker

#521 style: Improve formatting in Ollama request method
  spec/unit_test/completions_spec.cr
  src/llm/ollama/ollama.cr
Labels: 💊 spec, 🤖 llm

#525 docs: Update community articles with new resources
  docs/_advanced/tips/community-articles.md
Labels: 📑 documentation
