Repository owasp-noir/noir, pull requests merged in 2025-02, with the labels that each got.

#529 Add go-chi detector & analyzer
  spec/functional_test/fixtures/go/chi/go.mod
  spec/functional_test/fixtures/go/chi/main.go
  spec/functional_test/testers/go/chi_spec.cr
  spec/unit_test/detector/go/chi_spec.cr
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/go/chi.cr
  src/detector/detector.cr
  src/detector/detectors/go/chi.cr
  src/techs/techs.cr
Labels: 🔎 detector, 🔬 analyzer, 💊 spec

#530 docs: Add environment variable information to options parser output
  src/options.cr
Labels: ⚙️ options

#534 Add --help-all flag
  src/options.cr
Labels: ⚙️ options

#535 ci: Update Docker image to 84codes/crystal:latest-debian-12
  .github/workflows/ci.yml
Labels: 🦺 github-action, 🛥️ workflow

#536 ci: Add workflow_dispatch support with logLevel input for manual runs
  .github/workflows/ci.yml
Labels: 🦺 github-action, 🛥️ workflow

#538 Fixed bug (Add JSON requirement to passive_scan model)
  src/models/passive_scan.cr
Labels: 🚔 passive-scan

#540 refactor: Enhance Ollama analyzer to select target paths and process files with improved prompts
  src/analyzer/analyzers/llm_analyzers/ollama.cr
  src/llm/prompt.cr
Labels: 🔬 analyzer, 🤖 llm

#541 feat: Add General AI Analyzer(OpenAI Compatibility API)
  src/analyzer/analyzer.cr
  src/analyzer/analyzers/llm_analyzers/general.cr
  src/config_initializer.cr
  src/llm/general/client.cr
  src/llm/prompt.cr
  src/noir.cr
  src/options.cr
Labels: 🔬 analyzer, ⚙️ options, ⛱️ config, 🤖 llm

#547 Add AI provider options to completions script
  src/completions.cr
Labels: ⛱️ config

#548 Ensure valid encoding for lines in Sinatra analyzer
  src/analyzer/analyzers/ruby/sinatra.cr
Labels: 🔬 analyzer

#553 fix: Correct Java annotation parsing issue
  spec/functional_test/fixtures/java/spring/src/ItemController2.java
  spec/functional_test/testers/java/spring_spec.cr
  src/miniparsers/java.cr
Labels: 💊 spec, 🥢 mini-lexer

#549 Add HTTP file analyzer and fixtures for testing
  spec/functional_test/fixtures/etc/file_based/intelij_form.http
  spec/functional_test/fixtures/etc/file_based/intelij_json.http
  spec/functional_test/fixtures/etc/file_based/intelij_multiple.http
  spec/functional_test/fixtures/etc/file_based/intelij_query.http
  spec/functional_test/testers/etc/file_based_spec.cr
  src/analyzer/analyzers/file_analyzers/http.cr
  src/analyzer/analyzers/file_analyzers/string.cr
Labels: 🔬 analyzer, 💊 spec

#555 Add verbose logging (--verbose flag)
  Rakefile
  docs/_includes/usage.md
  spec/unit_test/passive_scan/passive_scan_spec.cr
  src/analyzer/analyzer.cr
  src/completions.cr
  src/config_initializer.cr
  src/detector/detector.cr
  src/miniparsers/java.cr
  src/models/analyzer.cr
  src/models/code_locator.cr
  src/models/deliver.cr
  src/models/detector.cr
  src/models/logger.cr
  src/models/noir.cr
  src/models/output_builder.cr
  src/models/tagger.cr
  src/options.cr
Labels: 📑 documentation, 🔎 detector, 🔬 analyzer, 📦 output-builder, 💊 spec, 💌 deliver, ⚙️ options, 🥢 mini-lexer, ⛱️ config

#556 feat: Add developer guidelines and release procedure documentation
  docs/_config.yml
  docs/_developers/developer_guidelines.md
  docs/_developers/release_procedure.md
Labels: 📑 documentation

#557 📝 Improve documents
  docs/_advanced/ai_integration.md
  docs/_advanced/configuration.md
  docs/_advanced/deliver.md
  docs/_advanced/diff.md
  docs/_advanced/passive_scan.md
  docs/_advanced/passive_scan/community_rules.md
  docs/_advanced/passive_scan/default_rules.md
  docs/_advanced/passive_scan/rule.md
  docs/_advanced/tagger.md
  docs/_advanced/tips/community-articles.md
  docs/_advanced/tips/pipeline-for-dast.md
  docs/_advanced/tips/shell-completion.md
  docs/_developers/build_and_contribute.md
  docs/_developers/release_procedure.md
  docs/_get_started/basic.md
  docs/_get_started/installation.md
  docs/_get_started/installation/docker.md
  docs/_get_started/installation/homebrew.md
  docs/_get_started/installation/snapcraft.md
  docs/_get_started/installation/source.md
  docs/_get_started/output.md
  docs/_get_started/output/curl.md
  docs/_get_started/output/json.md
  docs/_get_started/output/more.md
  docs/_get_started/output/openapi.md
  docs/_get_started/output/yaml.md
  docs/_get_started/supported.md
  docs/_get_started/supported/language_and_frameworks.md
  docs/_get_started/supported/specification.md
  docs/_get_started/supported/tech-commands.md
Labels: 📑 documentation

#558 docs: Enhance AI integration documentation with new provider options and setup instructions
  docs/_advanced/ai_integration.md
  docs/_advanced/ai_integration/github_marketplace.md
  docs/_advanced/ai_integration/lmstudio.md
  docs/_advanced/ai_integration/ollama.md
  docs/_advanced/ai_integration/openai.md
  docs/_advanced/ai_integration/vllm.md
  docs/_advanced/ai_integration/xai.md
  docs/images/advanced/ai_integration.jpeg
  docs/images/advanced/lmstudio.png
Labels: 📑 documentation
